.circle {
  position: relative;
  width: 60px;
  height: 60px;
  background: lightgray;
  border: 3px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: verdana;
  /* float: left; */
  margin-left: 20px;
  text-shadow: 3px 1px black;
  -webkit-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);
box-shadow: 0px 0px 72px -9px rgba(0,0,0,0.75);  
}

.counter-timer-24{
    display: flex;
  align-items: center;
  padding-left: 140px;
}

.countdown-timer{
    display: flex;
  align-items: center;
  padding-left: 100px;
}